.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 6rem;
  box-shadow: 0 15px 10px rgba (0,0,0, .15);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  min-width: 40%;
}

.header__link {
  text-decoration-line: none;
  color: black;
  cursor: pointer;
  font-size: 18px;
  transition: box-shadow .2s ease-out, color .3s ease-out, background-color .3s ease-out;
}

.header__link:hover {
  background-color: black;
  color: white;
  box-shadow: -5px 5px 0 #FF6B6B;

}

.header__link:last-child {
  margin-right: 1rem;
}
